html {
    font-family: 'Source Sans Pro', Helvetica;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    height: calc(100% - 50px);
    width: 100%;
    margin-top: 50px;
    background: url('../img/background.png') #252525;
}
.content {
    height: 100%;
    width: 100%;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
@media(min-width: 769px) {
    .mobile {
        display: none !important;
    }
}
@media(max-width: 768px) {
    .desktop {
        display: none !important;
    }
}

/*----------------------------------------------------------------------------*/
/*---| Navigation bar |-------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    background: #0880C0;
    border-bottom: solid 1px #999;
}
.navbar-content {
    overflow: hidden;
    width: 100%;
    max-width: 900px;
    padding: 0 20px;
    margin: 0 auto;
    font-size: 0;
    color: #DFDFDF;
}
.navbar-logo {
    display: inline-block;
    vertical-align: bottom;
}
.logo-button {
    display: inline-block;
    padding: 10px 10px 10px 5px;
    line-height: 0;
}
.logo-button > img {
    display: inline-block;
    height: 30px;
    width: 75px;
}
.menu-button {
    height: 30px;
    width: 40px;
    position: absolute;
    top: 10px;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}
.menu-bar {
    display: block;
    height: 2px;
    width: 30px;
    border-radius: 3px;
    position: relative;
    background: #DFDFDF;
    margin: 6px 5px;
}
.logo-button:hover, .menu-button:hover {
    background: none;
}
.navbar-menu {
    display: inline-block;
    width: calc(100% - 90px);
}
.navbar-tabs {
    display: inline-block;
    height: 50px;
    padding: 0;
    margin: 0;
    font-size: 0;
    list-style-type: none;
}
.navbar-tabs li {
    display: inline-block;
}
.navbar-tabs li > a {
    display: inline-block;
    padding: 15px 12px;
    text-decoration: none;
    font-size: 16px;
    color: #DFDFDF;
}
.navbar-tabs li > a.active, a:hover {
    background: #519EC8;
}
.navbar-tabs.desktop li > a {
    padding: 12px 5px;
    line-height: 0;
}
.navbar-tabs.desktop li a > img {
    display: inline-block;
    height: 26px;
    width: 26px;
    border-radius: 4px;
}
@media(max-width: 768px) {
    .navbar-content {
        height: 50px;
        padding: 0;
    }
    .navbar-content.expanded {
        height: 100%;
    }
    .navbar-logo, .navbar-menu {
        display: block;
        width: 100%
    }
    .navbar-logo {
        border-bottom: solid 1px #999;
    }
    .logo-button {
        padding-left: 12px;
    }
    .navbar-menu {
        margin: 7px 0;
    }
    .navbar-tabs {
        display: inline;
    }
    .navbar-tabs li, .navbar-tabs li > a {
        display: block;
    }
}

/*----------------------------------------------------------------------------*/
/*---| Splash/Slider |--------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
.splash-background {
    height: 100%;
    width: 100%;
    background: url('../img/slider.jpg') center no-repeat;
    background-size: cover;
}
.splash-area {
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 900px;
    padding: 0 20px;
    margin: 0 auto;
}
.splash-text {
    width: calc(100% - 40px);
    position: absolute;
    top: calc(57% - 59px);
}
.splash-header {
    width: 100%;
    font-family: 'Lato', Helvetica;
    color: #EEEEEE;
    line-height: 1.1;
    font-size: 4em;
    margin: 0;
}
.splash-blurb {
    display: inline;
    color: #EEEEEE;
    line-height: 1.2;
    font-size: 2.5em;
    margin: 0;
}
@media(max-width: 768px) {
    .splash-text {
        top: calc(31% - 59px);
    }
    .splash-header, .splash-blurb {
        display: block;
        text-align: center;
    }
}




