html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    background: url('../img/background.png') #252525;
}
.navbar-container {
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    background: #0880C0;
    border-bottom: solid 1px #eee;
}
.navbar-content {
    height: 50px;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    color: white;
}
.navbar-tabs {
    height: 50px;
    display: inline-block;
    list-style-type: none;
    padding: 15px 0;
    margin: 0;
}
.navbar-tabs li {
    display: inline;
    font-family: 'Source Sans Pro', Helvetica;
    font-weight: 300;
    font-size: 15px;
    padding: 15px 11px;
}
.navbar-tabs li:hover {
    background: #6FB4D9;
}
.navbar-tabs li.active {
    background: #6FB4D9;
}