html {
    font-family: 'Source Sans Pro', Helvetica;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    height: calc(100% - 50px);
    width: 100%;
    margin-top: 50px;
    background: url('../img/background.png') #252525;
}
.content {
    color: #EEEEEE;
    position: relative;
    height: 100%;
    width: 100%;
}
.container {
    width: 100%;
    max-width: 700px;
    padding: 0 20px;
    margin: 0 auto;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
@media(min-width: 769px) {
    .mobile {
        display: none !important;
    }
}
@media(max-width: 768px) {
    .desktop {
        display: none !important;
    }
}

/*----------------------------------------------------------------------------*/
/*---| Navigation bar |-------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    background: #0880C0;
    border-bottom: solid 1px #999;
    z-index: 100;
}
.navbar-content {
    overflow: hidden;
    width: 100%;
    max-width: 900px;
    padding: 0 20px;
    margin: 0 auto;
    font-size: 0;
    color: #DFDFDF;
}
.navbar-logo {
    display: inline-block;
    vertical-align: bottom;
}
.logo-button {
    display: inline-block;
    padding: 10px 10px 10px 5px;
    line-height: 0;
}
.logo-button > img {
    display: inline-block;
    height: 30px;
    width: 75px;
}
.menu-button {
    height: 30px;
    width: 40px;
    position: absolute;
    top: 10px;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}
.menu-bar {
    display: block;
    height: 2px;
    width: 30px;
    border-radius: 3px;
    position: relative;
    background: #DFDFDF;
    margin: 6px 5px;
}
.logo-button:hover, .menu-button:hover {
    background: none;
}
.navbar-menu {
    display: inline-block;
    width: calc(100% - 90px);
}
.navbar-tabs {
    display: inline-block;
    height: 50px;
    padding: 0;
    margin: 0;
    font-size: 0;
    list-style-type: none;
}
.navbar-tabs li {
    display: inline-block;
}
.navbar-tabs li > a {
    display: inline-block;
    padding: 15px 12px;
    text-decoration: none;
    font-size: 16px;
    color: #DFDFDF;
}
.navbar-tabs li > a.active, a:hover {
    background: #519EC8;
}
.navbar-tabs.contact {
    float: right;
}
.navbar-tabs.contact li > a {
    padding: 12px 5px;
    line-height: 0;
}
.navbar-tabs.contact li a > img {
    display: inline-block;
    height: 26px;
    width: 26px;
    border-radius: 4px;
}
@media(max-width: 768px) {
    .navbar {
        border-bottom: none;
    }
    .navbar-content {
        height: 51px;
        padding: 0;
    }
    .navbar-content.animate {
        transition: height 0.5s ease;
        -webkit-transition: height 0.5s ease;
    }
    .navbar-content.expanded {
        height: 314px;
    }
    .navbar-logo, .navbar-menu {
        display: block;
        width: 100%
    }
    .navbar-logo {
        border-bottom: solid 1px #999;
    }
    .logo-button {
        padding-left: 12px;
    }
    .navbar-tabs {
        display: inline;
        text-align: center;
    }
    .navbar-tabs li, .navbar-tabs li > a {
        display: block;
        font-size: 18px;
    }
    .navbar-tabs li:last-child {
        border-bottom: 1px solid #999;
    }
    .navbar-tabs.contact {
        float: none;
    }
    .navbar-tabs.contact li {
        border-top: none;
        border-bottom: none;
        display: inline-block;
        width: 33.3%;
    }
    .navbar-tabs.contact li:first-child {
        border-right: 1px solid #999;
    }
    .navbar-tabs.contact li:last-child {
        border-left: 1px solid #999;
    }
}

/*----------------------------------------------------------------------------*/
/*---| Splash/Slider |--------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
.splash-half {
    height: 50%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    z-index: 10;
    opacity 1;
    transition: all 0.65s ease-in-out;
    -ms-transition: all 0.65s ease-in-out;
    -moz-transition: all 0.65s ease-in-out;
    -webkit-transition: all 0.65s ease-in-out;
}
.splash-half.top {
    transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -webkit-transform-origin: 0 100%;
    top: 0;
}
.splash-half.bottom {
    transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    -webkit-transform-origin: 100% 0;
    bottom: 0;
}
.splash-half.bottom > * {
    position: absolute;
    bottom: 0;
}
.splash-half.top.hidden {
    transform: rotate(-90deg) scale(1.75) translate(-20%, -20%);
    -ms-transform: rotate(-90deg) scale(1.75) translate(-20%, -20%);
    -moz-transform: rotate(-90deg) scale(1.75) translate(-20%, -20%);
    -webkit-transform: rotate(-90deg) scale(1.75) translate(-20%, -20%);
    opacity: 0.6;
}
.splash-half.bottom.hidden {
    transform: rotate(-90deg) scale(1.75) translate(20%, 20%);
    -ms-transform: rotate(-90deg) scale(1.75) translate(20%, 20%);
    -moz-transform: rotate(-90deg) scale(1.75) translate(20%, 20%);
    -webkit-transform: rotate(-90deg) scale(1.75) translate(20%, 20%);
    opacity: 0.6;
}
.splash-background {
    height: 200%;
    width: 100%;
    background: url('../img/slider.jpg') center no-repeat;
    background-size: cover;
}
.splash-area {
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 900px;
    padding: 0 20px;
    margin: 0 auto;
}
.splash-text {
    width: calc(100% - 40px);
    position: absolute;
    top: calc(57% - 59px);
}
.splash-header {
    display: block;
    width: 100%;
    font-family: 'Lato', Helvetica;
    color: #EEEEEE;
    line-height: 1.1;
    font-size: 4em;
    margin: 0;
}
.splash-blurb {
    display: block;
    color: #EEEEEE;
    line-height: 1.2;
    font-size: 2.5em;
    margin: 0;
}
.about-button {
    display: inline-block;
    background: #0880C0;
    margin-top: 25px;
    padding: 12px 15px;
    border-radius: 4px;
    font-size: 18px;
    text-decoration: none;
    color: #EEEEEE;
    border: 1px solid #999;
}
@media(max-width: 768px) {
    .splash-text {
        top: calc(31% - 59px);
        text-align: center;
    }
    .splash-header {
        font-size: 3em;
    }
    .splash-blurb {
        font-size: 1.5em;
    }
}

/*----------------------------------------------------------------------------*/
/*---| About |----------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
.container.profile {
    position: relative;
    padding-top: 20px;
}
.container.profile > p {
    font-size: 18px;
}
.profile-header {
    position: relative;
    width: 100%;
    background: #000;
    margin: 0 auto;
}
.profile-header:after {
    content: '';
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}
.profile-header img {
    display: block;
    height: auto;
    width: 100%;
    max-height: 450px;
    max-width: 700px;
    margin: 0 auto;
}
.about-title {
    display: block;
    font-family: 'Lato', Helvetica;
    font-size: 56px;
    position: absolute;
    top: -75px;
    right: 20px;
    opacity: 1;
    transition: top 0.5s ease, opacity 0.5s ease;
    -webkit-transition: top 0.5s ease, opacity 0.5s ease;
}
.about-title.hidden {
    top: -56px;
    opacity: 0;
}
.about-subtitle {
    display: block;
    font-family: 'Lato', Helvetica;
    font-size: 28px;
    margin-bottom: 5px;
}
.about-row {
    display: block;
    width: 100%;
    margin-bottom: 30px;
}
.overview-column {
    display: inline-block;
    padding: 0 15px;
    width: 33%;
}
.overview-column div {
    font-size: 18px;
    line-height: 1.1;
    color: #0880C0;
}
.stat-value {
    display: inline-block;
    font-size: 18px;
    color: #EEEEEE;
    float: right;
}
.about-body {
    width: 100%;
    padding: 0 15px;
}
.about-body p {
    font-size: 18px;
    margin: 0 0 10px 0;
}
@media(max-width: 768px) {
    .about-title {
        font-size: 44px;
        top: -60px;
    }
    .about-title.hidden {
        top: -44px;
    }
    .overview-column {
        display: block;
        width: 100%;
    }
}










